.inicio{
    background-image: $background-OsToCl;

    .inicio-content{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        .inicio-img{
            width: 25%;
            border-radius: 5%;
        }
        .nombre{
            padding-left: 10%;

            .titulo{
                color: white;
                font-size: 6vw;
                // margin-top: 20px;
            }
    
            .titulo2{
                color: white;
                font-size: 3vw;
                font-weight: 100;
                margin-top: 20px;
            }
        }
        
    }
    
}