.informacion {
    background-image: $background-ClToOs;

    .informacion-content {
        height: 80%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;



        .titulo-content {
            width: 50%;

            .titulo {
                color: white;
                font-size: $ft-titulo;
                text-align: center;
            }
        }

        .descripcion {
            text-align: center;
            width: 40%;
            color: white;

            p {
                font-size: $ft-parrafo;
            }
        }


    }
}

@media (max-width:768px) {
    .informacion {
        .informacion-content {
            flex-flow: column nowrap;

            .titulo-content {
                .titulo {
                    margin: 10% auto;
                    font-size: $ft-titulo-m;
                }
            }

            .descripcion {
                width: 70%;

                p {
                    font-size: 2vw;
                }
            }
        }
    }
}

@media (max-width:415px) {
    .informacion {
        .informacion-content {
            .descripcion {
                p {
                    font-size: 3vw;
                }
            }
        }
    }
}