.informacion{
    background-image: $background-ClToOs;
    .informacion-content{
        height: 80%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        

        .titulo-content{
            width: 50%;

            .titulo{
                color: white;
                font-size: $ft-titulo;
                text-align: center;
            }
        }
    
        .descripcion{
            text-align: center;
            width: 40%;
            color: white;

            p{
                font-size: $ft-parrafo;
            }
        }
        
    
    }
}
