.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $hd_height_s;
    z-index: 70;

    &>div {
        margin: 15px;

        .marca {
            font-family: $ft-Oxygen-mono;
            font-size: 3vw;
            color: white;
            text-decoration: none;

            &:hover {
                color: orange;
                border-bottom: 1px solid orange;

            }
        }
    }

    .menu-lista {
        display: none;
        position: absolute;
        background-color: $cl-blueOscuro;
        width: 100%;
        height: $hd_height_s_list;
        top: 52px;

        &>ul {

            li,
            a {
                display: block;
                margin: 16px;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $ft-Oxygen-mono;
                font-weight: 500;
                font-size: 16px;
                color: white;
                transition: .5s ease;
            }

            li.active {
                border-bottom: 1px solid orange;
            }

            li.active a,
            li:hover a {
                color: orange;
            }
        }
    }


    .menu-check {
        display: none;

        &:checked {
            &~.menu-label {
                display: none;
            }

            &~.menu-label1 {
                display: block;
            }

            &~.menu-lista {
                display: block;
                position: absolute;

                animation: menu-lista-visible 0.5s linear;
                animation-direction: normal;
                animation-fill-mode: forwards;

                top: 52px;
                z-index: 99;
            }
        }
    }

    .menu-label {
        cursor: pointer;
        color: white;
        i:hover{
            color: orange;
            transition: 0.2;
            transform: scale(1.5);
        
        }
    }

    .menu-label1 {
        display: none;
        color: white;
        i:hover{
            color: orange;
            transition: 0.2;
            transform: scale(1.5);
        
        }
    }


    @keyframes menu-lista-visible {
        from {
            left: 100%;
        }

        to {
            left: 0%;
        }
    }

}


/* ------------ Vista escritorio ------------*/

@media (min-width: 768px) {

    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;

        &>div {
            .marca {
                font-family: $ft-Oxygen-mono;
                font-size: 1.9vw;
                color: white;



            }
        }

        .menu-lista {
            display: flex;
            position: initial;
            background-color: transparent;
            height: 80px;
            width: 100%;

            &>ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 80px;
                width: 100%;

                li,
                a {
                    font-size: 1.2vw;
                }
            }
        }

        .menu-label1,
        .menu-label,
        .menu-check {
            display: none;
        }
    }
}

/* ------------FIN Vista escritorio ------------*/