/* menu-navegacion */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 1vw 2vw;

    .marca {
        font-family: $ft-Oxygen-mono;
        font-size: 2vw;
    }

    li,
    a {
        display: inline-block;
        margin: 1vw;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $ft-Oxygen-mono;
        font-weight: 500;
        font-size: 1vw;
        color: white;
        transition: .5s ease;
    }

    li.active {
        border-bottom: 1px solid orange;
    }

    li.active a,
    li:hover a {
        color: orange;
    }
}

@media (max-width: 768px) {
    .nav {

        li,
        a {
            margin: 0.5vw;
            font-size: 2vw; 
        }
    }
}