
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

$ft-Oxygen-mono : 'Oxygen Mono', monospace;
$cl-blueOscuro: #0000FE; 
$cl-blueClaro: #00F0B8;
$background-OsToCl: linear-gradient(180deg,$cl-blueOscuro 50%, $cl-blueClaro 100%);
$background-ClToOs: linear-gradient(180deg,$cl-blueClaro 0%, $cl-blueOscuro 50%);

$ft-titulo: 4vw;
$ft-parrafo: 1vw;