@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oxygen Mono", monospace;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 0;
}

/* ------------------------------- */
/* fullpage.js */
#fp-nav ul li a span {
  background: white;
}

#fp-nav ul li .fp-tooltip {
  color: white;
}

/* ------------------------------- */
.contenedor-icono {
  position: absolute;
  z-index: 99;
  bottom: 3%;
  left: 45%;
  font-size: 40px;
  -webkit-animation: icono 1s ease infinite;
          animation: icono 1s ease infinite;
}

.contenedor-icono a {
  color: white;
}

@-webkit-keyframes icono {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes icono {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

/* ------------------------------- */
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 44px;
  z-index: 70;
}

.header > div {
  margin: 15px;
}

.header > div .marca {
  font-family: "Oxygen Mono", monospace;
  font-size: 3vw;
  color: white;
  text-decoration: none;
}

.header > div .marca:hover {
  color: orange;
  border-bottom: 1px solid orange;
}

.header .menu-lista {
  display: none;
  position: absolute;
  background-color: #0000FE;
  width: 100%;
  height: 225px;
  top: 52px;
}

.header .menu-lista > ul li,
.header .menu-lista > ul a {
  display: block;
  margin: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oxygen Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: white;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.header .menu-lista > ul li.active {
  border-bottom: 1px solid orange;
}

.header .menu-lista > ul li.active a,
.header .menu-lista > ul li:hover a {
  color: orange;
}

.header .menu-check {
  display: none;
}

.header .menu-check:checked ~ .menu-label {
  display: none;
}

.header .menu-check:checked ~ .menu-label1 {
  display: block;
}

.header .menu-check:checked ~ .menu-lista {
  display: block;
  position: absolute;
  -webkit-animation: menu-lista-visible 0.5s linear;
          animation: menu-lista-visible 0.5s linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 52px;
  z-index: 99;
}

.header .menu-label {
  cursor: pointer;
  color: white;
}

.header .menu-label i:hover {
  color: orange;
  -webkit-transition: 0.2;
  transition: 0.2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header .menu-label1 {
  display: none;
  color: white;
}

.header .menu-label1 i:hover {
  color: orange;
  -webkit-transition: 0.2;
  transition: 0.2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes menu-lista-visible {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes menu-lista-visible {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/* ------------ Vista escritorio ------------*/
@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    width: 100%;
  }
  .header > div .marca {
    font-family: "Oxygen Mono", monospace;
    font-size: 1.9vw;
    color: white;
  }
  .header .menu-lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    background-color: transparent;
    height: 80px;
    width: 100%;
  }
  .header .menu-lista > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    width: 100%;
  }
  .header .menu-lista > ul li,
  .header .menu-lista > ul a {
    font-size: 1.2vw;
  }
  .header .menu-label1,
  .header .menu-label,
  .header .menu-check {
    display: none;
  }
}

/* ------------FIN Vista escritorio ------------*/
.inicio {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000FE), to(#00F0B8));
  background-image: linear-gradient(180deg, #0000FE 50%, #00F0B8 100%);
}

.inicio .inicio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.inicio .inicio-content .inicio-img {
  width: 25%;
  border-radius: 5%;
}

.inicio .inicio-content .nombre {
  padding-left: 10%;
}

.inicio .inicio-content .nombre .titulo {
  color: white;
  font-size: 6vw;
}

.inicio .inicio-content .nombre .titulo2 {
  color: white;
  font-size: 3vw;
  font-weight: 100;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .inicio .inicio-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .inicio .inicio-content .inicio-img {
    width: 50%;
  }
  .inicio .inicio-content .nombre {
    padding-left: 0;
    margin-top: 15px;
  }
  .inicio .inicio-content .nombre .titulo {
    font-size: 7vw;
  }
  .inicio .inicio-content .nombre .titulo2 {
    font-size: 4vw;
  }
}

.informacion {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00F0B8), color-stop(50%, #0000FE));
  background-image: linear-gradient(180deg, #00F0B8 0%, #0000FE 50%);
}

.informacion .informacion-content {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informacion .informacion-content .titulo-content {
  width: 50%;
}

.informacion .informacion-content .titulo-content .titulo {
  color: white;
  font-size: 4vw;
  text-align: center;
}

.informacion .informacion-content .descripcion {
  text-align: center;
  width: 40%;
  color: white;
}

.informacion .informacion-content .descripcion p {
  font-size: 1vw;
}

@media (max-width: 768px) {
  .informacion .informacion-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .informacion .informacion-content .titulo-content .titulo {
    margin: 10% auto;
    font-size: 5vw;
  }
  .informacion .informacion-content .descripcion {
    width: 70%;
  }
  .informacion .informacion-content .descripcion p {
    font-size: 2vw;
  }
}

@media (max-width: 415px) {
  .informacion .informacion-content .descripcion p {
    font-size: 3vw;
  }
}

/* ------------------------------- */
/* clases js flechas slide */
.fp-controlArrow.fp-prev {
  left: 7%;
  border-width: 20px 20px 20px 0;
  border-color: transparent white transparent transparent;
  -webkit-animation: flechaprev 1s ease infinite;
          animation: flechaprev 1s ease infinite;
}

@-webkit-keyframes flechaprev {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  25% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes flechaprev {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  25% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

.fp-controlArrow.fp-next {
  right: 10%;
  border-width: 20px 0px 20px 20px;
  border-color: transparent transparent transparent white;
  -webkit-animation: flechanext 1s ease infinite;
          animation: flechanext 1s ease infinite;
}

@-webkit-keyframes flechanext {
  0% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
  25% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  100% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
}

@keyframes flechanext {
  0% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
  25% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  100% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
  }
}

.educacion {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000FE), to(#00F0B8));
  background-image: linear-gradient(180deg, #0000FE 50%, #00F0B8 100%);
}

.educacion .slide-titulo {
  color: white;
  font-size: 4vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.educacion .slide1 .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.educacion .slide1 .slide-content .educacion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 10px solid white;
  background-color: white;
  border-radius: 30px;
  width: 50%;
  height: 13vw;
  margin-bottom: 50px;
}

.educacion .slide1 .slide-content .educacion-item .item-link {
  width: 25%;
  height: 100%;
}

.educacion .slide1 .slide-content .educacion-item .item-link .item-img {
  width: 100%;
  height: 100%;
}

.educacion .slide1 .slide-content .educacion-item .item-content {
  width: 70%;
  color: #0000FE;
}

.educacion .slide1 .slide-content .educacion-item .item-content h2 {
  font-size: 2vw;
}

.educacion .slide1 .slide-content .educacion-item .item-content h3 {
  font-size: 1.5vw;
}

.educacion .slide2 .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.educacion .slide2 .slide-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}

.educacion .slide2 .slide-content .row .educacion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 10px solid white;
  background-color: white;
  border-radius: 2vw;
  width: 40%;
  margin-bottom: 20px;
}

.educacion .slide2 .slide-content .row .educacion-item .item-link {
  width: 30%;
}

.educacion .slide2 .slide-content .row .educacion-item .item-link .item-img {
  width: 100%;
  height: 100%;
}

.educacion .slide2 .slide-content .row .educacion-item .item-content {
  width: 70%;
  color: #0000FE;
}

.educacion .slide2 .slide-content .row .educacion-item .item-content h2 {
  font-size: 1vw;
}

.educacion .slide2 .slide-content .row .educacion-item .item-content h3 {
  font-size: 0.8vw;
}

@media (max-width: 768px) {
  .educacion .slide-titulo {
    font-size: 5vw;
  }
  .educacion .slide1 .slide-content .educacion-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 50%;
    height: 35%;
    margin-bottom: 10%;
  }
  .educacion .slide1 .slide-content .educacion-item .item-link {
    width: 40%;
  }
  .educacion .slide1 .slide-content .educacion-item .item-content h2 {
    font-size: 2.5vw;
  }
  .educacion .slide1 .slide-content .educacion-item .item-content h3 {
    font-size: 1.5vw;
  }
  .educacion .slide2 .slide-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .educacion .slide2 .slide-content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .educacion .slide2 .slide-content .row .educacion-item {
    width: 60%;
  }
  .educacion .slide2 .slide-content .row .educacion-item .item-content h2 {
    font-size: 1.4vw;
  }
  .educacion .slide2 .slide-content .row .educacion-item .item-content h3 {
    font-size: 1vw;
  }
}

@media (max-width: 415px) {
  .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    top: 90%;
  }
  .educacion {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000FE), to(#00F0B8));
    background-image: linear-gradient(180deg, #0000FE 50%, #00F0B8 100%);
  }
  .educacion .slide-titulo {
    font-size: 5vw;
  }
  .educacion .slide1 .slide-content .educacion-item {
    width: 60%;
    height: 40%;
  }
  .educacion .slide1 .slide-content .educacion-item .item-link {
    width: 70%;
  }
  .educacion .slide1 .slide-content .educacion-item .item-content h2 {
    font-size: 3vw;
  }
  .educacion .slide1 .slide-content .educacion-item .item-content h3 {
    font-size: 2vw;
  }
  .educacion .slide2 .slide-content .row .educacion-item {
    width: 100%;
  }
  .educacion .slide2 .slide-content .row .educacion-item .item-content h2 {
    font-size: 2.5vw;
  }
  .educacion .slide2 .slide-content .row .educacion-item .item-content h3 {
    font-size: 2vw;
  }
}

.proyectos {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00F0B8), color-stop(50%, #0000FE));
  background-image: linear-gradient(180deg, #00F0B8 0%, #0000FE 50%);
}

.proyectos .proyectos-titulo {
  color: white;
  font-size: 4vw;
  margin: 2.5% 0;
}

.proyectos .proyectos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 70%;
}

.proyectos .proyectos-content .proyectos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  background-color: white;
}

.proyectos .proyectos-content .proyectos-item .item-img {
  width: 100%;
}

.proyectos .proyectos-content .proyectos-item .item-titulo {
  color: #0000FE;
  margin: 1% auto;
}

.proyectos .proyectos-content .proyectos-item .item-info {
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1vw;
}

.proyectos .proyectos-content .proyectos-item .item-info .item-text {
  width: 70%;
}

.proyectos .proyectos-content .proyectos-item .item-info .item-icon i {
  font-size: 7vw;
  color: #00F0B8;
}

@media (max-width: 768px) {
  .proyectos .proyectos-titulo {
    font-size: 5vw;
  }
  .proyectos .proyectos-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .proyectos .proyectos-content .proyectos-item {
    width: 50%;
  }
  .proyectos .proyectos-content .proyectos-item .item-titulo {
    font-size: 3vw;
  }
  .proyectos .proyectos-content .proyectos-item .item-info .item-text {
    font-size: 1.3vw;
  }
}

@media (max-width: 415px) {
  .proyectos .proyectos-content .proyectos-item {
    width: 70%;
  }
  .proyectos .proyectos-content .proyectos-item .item-titulo {
    font-size: 4vw;
  }
  .proyectos .proyectos-content .proyectos-item .item-info .item-text {
    font-size: 2vw;
  }
  .proyectos .proyectos-content .proyectos-item .item-info .item-icon i {
    font-size: 11vw;
  }
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000FE), to(#00F0B8));
  background-image: linear-gradient(180deg, #0000FE 50%, #00F0B8 100%);
}

.footer .footer-titulo {
  text-transform: uppercase;
  font-size: 7vw;
  letter-spacing: 2px;
  margin-bottom: 5%;
  opacity: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.footer .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 6vw;
}

.footer .redes-sociales a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  height: 10vw;
  background: #fff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 4%;
}

.footer .redes-sociales .linkedin i {
  color: #0073b1;
}

.footer .redes-sociales .linkedin:hover {
  background: #0073b1;
}

.footer .redes-sociales .linkedin:hover i {
  color: #fff;
}

.footer .redes-sociales .github i {
  color: black;
}

.footer .redes-sociales .github:hover {
  background: black;
}

.footer .redes-sociales .github:hover i {
  color: #fff;
}

@media (max-width: 768px) {
  .footer .footer-titulo {
    font-size: 10vw;
  }
  .footer .redes-sociales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    font-size: 20vw;
  }
  .footer .redes-sociales a {
    width: 27vw;
    height: 27vw;
    margin: 4% 0%;
  }
}
/*# sourceMappingURL=styles.css.map */